.page {
  min-inline-size: 320px;
  block-size: 100%;
  background-image: var(--gradient-background);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family-primary), fantasy;
  font-variation-settings: 'wght' var(--font-weight-regular), 'wdth' var(--font-width-normal);
}

.header {
  background-color: var(--color-background);
  margin-block-start: 100px;
  margin-block-end: 98px;
  border: 2px solid var(--color-accent);
  font-family: var(--font-family-secondary), fantasy;
  text-align: center;
  padding-top: var(--padding-header);
  padding-bottom: var(--padding-header);
}

.header .main-title {
  font-size: var(--font-size-title);
  margin-bottom: 20px;
  line-height: 100%;
}

.header p {
  font-size: var(--font-size-header);
  text-transform: uppercase;
  line-height: 100%;
}

.card {
  background-color: var(--color-background);
  border: 2px solid var(--color-accent);
}

.card:not(:first-child) {
  margin-top: 50px;
}

.card-header {
  padding: 4px 10px;
}

.card-header h2 {
  font-variation-settings: 'wght' var(--font-weight-bold), 'wdth' var(--font-width-normal);
  line-height: 1.2;
  letter-spacing: 0;
  vertical-align: middle;
}

.image-wrapper {
  position: relative;
}

.image-wrapper img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  object-position: center;
}

.filter-brightness-contrast {
  filter: brightness(110%) contrast(120%);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-saturate-contrast {
  filter: saturate(2) contrast(140%);
}

.filter-invert {
  filter: invert(1);
}

.filter-multiple {
  filter: contrast(1.5) brightness(0.8) grayscale(0.3);
}

.filter-blur {
  filter: blur(0.2rem);
}

.filter-sepia {
  filter: sepia(0.6);
}

.image-logo {
  font-family: var(--font-family-secondary), fantasy;
  font-size: 14px;
  text-shadow:
          -1px 0 #fff,
          0 1px #fff,
          1px 0 #fff,
          0 -1px #fff;
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 1;
  opacity: 50%;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .image-logo {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card-content p:not(:last-child) {
  margin-bottom: 25px;
}

.card-content .text-wrapper {
  padding: 25px;
}

button {
  background-color: var(--color-background);
  font-family: var(--font-family-secondary), fantasy;
  font-size: 14px;
  border: none;
  line-height: 90%;
  transition: box-shadow 0.3s ease;
}

button:hover {
  cursor: pointer;
}

button:not(.card__icon-button) {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--color-accent);
}

button:not(.card__icon-button):focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-accent);
}

button:not(.card__icon-button)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-accent);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

button:not(.card__icon-button):hover::before {
  transform: scaleX(1);
}

button:not(.card__icon-button) .button__text {
  z-index: 10;
  color: var(--color-background);
  mix-blend-mode: difference;
}

button:not(.card__icon-button) svg {
  z-index: 10;
  color: var(--color-background);
  position: relative;
  mix-blend-mode: difference;
}

.flex-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-button {
  min-width: 306px;
  min-height: 84px;
  gap: 8px;
  margin: 0 auto;
}

.footer-button svg {
  width: 28px;
  height: 28px;
}

.button-text {
  position: relative;
}

.card__like-button {
  width: 130px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer {
  padding: 0 25px 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.footer {
  padding: 50px 0 100px 0;
}

.dialog {
  font-family: var(--font-family-secondary), fantasy;
  padding: 30px 40px;
  max-width: 353px;
}

.dialog-top {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog svg {
  width: 39px;
  height: 39px;
  min-width: 39px;
}

.dialog-text {
  max-width: 260px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 14px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

body:has(dialog[open]) {
  overflow: hidden;
}

.dialog-button {
  width: 100%;
  min-height: 38px;
  margin-top: 30px;
}

.dialog-button .button__text {
  text-transform: uppercase;
}

svg .sparks {
  opacity: 0;
}

svg .contour {
  transition: fill 0.1s linear;
  fill: var(--color-heart-contour);
}

svg .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

svg .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--color-heart-contour);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--color-heart-contour);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--color-heart-active);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--color-heart-active);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-heart-active);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--color-heart-active);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--color-heart-active);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  animation: scale-animation 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity-animation 0.3s ease-in 0.3s;
}

.heart {
  transform-origin: center;
}

@media (min-width: 768px) {

  .footer-button svg {
    width: 21px;
    height: 21px;
  }

  .footer-button {
    flex-direction: row;
    min-width: 335px;
    min-height: 55px;
  }
}