:root {
    --color-background: #FFF;
    --color-accent: #000;
    --color-heart-contour: #000;
    --color-heart-active: #FF0000;

    --gradient-background:
            repeating-linear-gradient(
                    90deg,
                    #d3d3d3 0px,
                    #d3d3d3 2px,
                    transparent 2px,
                    transparent 4px
            ),
            repeating-linear-gradient(
                    0deg,
                    #d3d3d3 0px,
                    #d3d3d3 2px,
                    transparent 2px,
                    transparent 4px
            ),
            linear-gradient(
                    180deg,
                    #e7e7e7 0%,
                    #e7e7e7 0.01%,
                    #1a1a1a 100%
            );

    --font-family-primary: 'Inter-Variable', sans-serif;
    --font-family-secondary: 'PressStart2P', fantasy;
    --font-size-base: 18px;
    --font-size-title: clamp(49px, 4.5vw, 65px);
    --font-size-header: clamp(14px, 1.5972vw, 23px);

    --font-weight-regular: 410;
    --font-weight-bold: 715;
    --font-width-normal: 100;

    --padding-header: clamp(6.78rem, 5.5rem + 1.91vw, 7.23rem);
}